<div class="jumbotron" >
    <h1>GC Service List</h1>
</div>

<div class="container">
<div class="col-md-12 side-bar">
    <div class="content-section">
      <h3>GOCRAZY-Exprnc Services Overview</h3>
      <p class='text-muted'>Some Information about Go Crazy Experience
        <ul class="list-group">
          <li class="list-group-item list-group-item-light">
            <a href="" class="mr-2">

                Showcase Social Lifestyle Activities (Videos & Pics).
            </a>
           
            </li>
          <li class="list-group-item list-group-item-light">
              <a href="" class="mr-2">
                  
                  Club Promotion
               
            </a>

          </li>
          <li class="list-group-item list-group-item-light">
            <a href="" class="mr-2">
                  
                Tickets Sales (Events, Exhibitions, Etc).
             
          </a>
          </li>
          <li class="list-group-item list-group-item-light">
              <a href="" class="mr-2">
                  
                Event Promo
             
          </a>
          </li>
          <li class="list-group-item list-group-item-light">
            <a href="" class="mr-2">
                  
                Photography Services
             
          </a>
          </li>
          <li class="list-group-item list-group-item-light">
            <a href="" class="mr-2">
                  
                Brand Promotion
             
          </a>
          </li>
          <li class="list-group-item list-group-item-light">
            <a href="" class="mr-2">
                  
                Event Organizing and Hosting
             
          </a>
          </li>
          <li class="list-group-item list-group-item-light">
            <a href="" class="mr-2">
                  
                Hubbly Rentals
             
          </a>
          </li>
          <li class="list-group-item list-group-item-light"> 
            <a href="" class="mr-2">
                  
                Sound Rentals / Photography Lights and Event Stretch Tents
             
          </a>
          </li>
          <li class="list-group-item list-group-item-light">
            <a href="" class="mr-2">
                  
                Hostess Bookings / Dj Bookings (Resident Dj)
             
          </a>
          </li>
        </ul>
      </p>
    </div>
  </div>
<div class="col-md-12 side-bar">
    <div class="content-section">
      <h3>GOCRAZY-Exprnc Product List</h3>
      <p class='text-muted'>Some Information about Go Crazy Experience
        <ul class="list-group">
          <li class="list-group-item list-group-item-light">Designer Clothes (Limited Editions)</li>
          <li class="list-group-item list-group-item-light">Alcohol</li>
        </ul>
      </p>
    </div>
  </div>
</div>
