
{% extends "layout.html" %}

{% block content %}

    <div class="jumbotron" id="jumbotron-home" >
        <h1>GC Services</h1>
        <p>
            What GC does.
        </p>
    </div>

    {% for service in services.items %}


        <article class="media content-section">
           
            <div class="media-body">

              <div class="media">
                <img class="rounded-circle account-img" src="{{ service.image_file }}">
               
              </div>
                
                <h2><a href="" class="article-title">{{ service.title }}</a></h2>
                <p class="article-content">{{ service.description }}</p>
            </div>
        </article>

    {% endfor %}
    
    

{% endblock content %}